<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ThinkLogin</title>
</head>
<body>
	<ul>
		<li><a href="{:U('logins?type=qq')}">腾讯QQ用户登录</a></li>
		<li><a href="{:U('logins?type=tencent')}">腾讯微博用户登录</a></li>
		<li><a href="{:U('logins?type=sina')}">新浪微博用户登录</a></li>
		<li><a href="{:U('logins?type=t163')}">网易微博用户登录</a></li>
		<li><a href="{:U('logins?type=renren')}">人人网用户登录</a></li>
		<li><a href="{:U('logins?type=x360')}">360用户登录</a></li>
		<li><a href="{:U('logins?type=douban')}">豆瓣用户登录</a></li>
		<li><a href="{:U('logins?type=github')}">Github用户登录</a></li>
		<li><a href="{:U('logins?type=google')}">Google用户登录</a></li>
		<li><a href="{:U('logins?type=msn')}">MSN用户登录</a></li>
		<li><a href="{:U('logins?type=diandian')}">点点用户登录</a></li>
		<li><a href="{:U('logins?type=taobao')}">淘宝网用户登录</a></li>
		<li><a href="{:U('logins?type=baidu')}">百度用户登录</a></li>
		<li><a href="{:U('logins?type=kaixin')}">开心网用户登录</a></li>
		<li><a href="{:U('logins?type=sohu')}">搜狐微博用户登录</a></li>
	</ul>
</body>
</html>