<div class="footer_bg">
<div class="wrap">	
	<div class="footer">
		<!-- start grids_of_4 -->	
		<div class="grids_of_4">
			<div class="grid1_of_4">
				<h4>关于我们</h4>
				<ul class="f_nav">
					<li><a href="__ROOT__/Site/listTpl/id/1.html">关于我们</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>媒体报道</h4>
				<ul class="f_nav">
					<li><a href="__ROOT__/Site/listTpl/id/16.html">媒体报道</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>网站公告</h4>
				<ul class="f_nav">
					<li><a href="__ROOT__/Site/listTpl/id/32.html">网站公告</a></li>
				</ul>
			</div>
			<div class="grid1_of_4">
				<h4>联系我们</h4>
				<div class="contact"><span>联系电话:</span><br/><span class="phone">{$s.sys_phone}</span></div>
                <div class="contact"><span class="address">联系地址:{$s.sys_officeAddress}</span></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>
<div class="footer_bg1">
<div class="wrap">
	<div class="footer">
		<!-- scroll_top_btn -->
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				
			});
		</script>
        <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		<!--end scroll_top_btn -->
		<div class="copy">
			<p class="link">&copy;  {$s.sys_copy}</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</body>
</html>